<script type ="text/javascript" src="http://www.geocodezip.com/scripts/v3_epoly.js"></script>

<div>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">

  <form id="calculate-route" name="calculate-route" action="#" method="get">

      <div class="destination-wrap">

          <div class="form-wrap" id="floating-panel">
            <select class="form-control" id="mode">
              <option value="DRIVING">Driving</option>
              <option value="WALKING">Walking</option>
              <option value="BICYCLING">Bicycling</option>
              <option value="TRANSIT">Transit</option>
            </select>
          </div>
          <div class="form-wrap">
            <!--<label class="labels" for="from">From:</label>-->
            <input class="form-control" type="text" id="from" name="from" required="required" placeholder="From" size="30">
            <button id="from-link" type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-map-marker"></span>
            </button>
          </div>
          <img class="path" src="http://i.imgur.com/NhQ6NQu.png">
          <div class="form-wrap">
            <!--<label class="labels" for="to">To:</label>-->
            <input class="form-control" type="text" id="to" name="to" required="required" placeholder="To" size="30">
            <button id="to-link" type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-map-marker"></span>
            </button>
            <br>
          </div>
          <div class="form-wrap">
            <input id="get-direction" class="btn btn-default btn-sm" type="submit" value="Get Direction"/>
            <input class="btn btn-default btn-sm" type="reset" value="Reset">
          </div>
      </div>
      <div class="info-wrap">
        <div class="info-data">
        Original Travel:&nbsp;<span id="origTime"></span>&nbsp;(<span id="origDist"></span>)
        </div>
        <div class="info-data">
        Hacked Travel:&nbsp;<span id="hackTime"></span>&nbsp;(<span id="hackDist"></span>)
        </div>
      </div>
  </form>
</div>
  
<div id="map"></div>
<button uiSref="cheatNew" id="add-cheat" class="btn btn-default btn-sm">Add A Cheat</button>