<div class="homePage">

	<div class="homePage-image">
		<img src="http://i.imgur.com/9Ep8fsR.png" style="width:100%">
	</div>
	<div class="homePage-context px-3">
		<p>
			We hack the traffic by providing map cheats (aka shortcuts) unknown to the commercial map applications, to help drivers arrive to the destinations faster.
		</p>
		<p>
			Our mission is to map out all possible routes on the street to make your trip easier and more enjoyable than ever.
		</p>
		<button routerLink="/map" class="btn btn-light">Start Cheating on streets!</button>
	</div>

</div>