/*font-family: 'Bungee', cursive;
font-family: 'Cousine', monospace;
*/
#map {
	height: 75%;
}
/* Optional: Makes the sample page fill the window. */

.destination-wrap {
	background-color: none;
	display: block;
	max-width: 100%;
	flex-wrap: wrap;
	/*justify-content: flex-end;*/
	margin: 15px;
}

#from {
	width: 300px;
}

#to {
	width: 300px;
}

.form-wrap {
	display: inline-flex;
	margin: 0 auto;
}

.form-control {
	display: inline;
}

#pac-input {
	width: 300px;
	height: 29px;
	margin-top: 10px;
}

#add-cheat {
	margin: 10px;
}

#get-direction {
	margin-right: 4px;
}

.button:hover {
	background-color: gray;
	color: white;
}

.cheat {
	margin-left: 15px;
}

.info-wrap {
	margin: 0 0 15px 15px;
	display: inline-flex;
	flex-direction: column;
	max-width: 40%;
	flex-wrap: wrap;
}

.path {
	height: 29px;
	margin-right: 4px;
	margin-left: 4px;
}