<input id="pac-input" class="controls" type="text" placeholder="Search Box"> 

<div class="destination-wrap">

<form id="calculate-route" name="calculate-route" action="#" method="get">
  <div class="form-wrap">
    <label for="from">From:</label>
    <input type="text" id="from" name="from" required="required" placeholder="An address" size="30" />
    <a id="from-link" href="#">Get my position</a>
    <br />
  </div>

  <div class="form-wrap">
    <label for="to">To:</label>
    <input type="text" id="to" name="to" required="required" placeholder="Another address" size="30" />
    <a id="to-link" href="#">Get my position</a>
    <br />
  </div>
</form>

</div>

  <input type="submit" />
  <input type="reset" />

<div id="map"></div>