
<script type ="text/javascript" src="http://www.geocodezip.com/scripts/v3_epoly.js"></script>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">

<form id="calculate-route" name="calculate-route" action="#" method="get">

  <div class="destination-wrap">
    <div class="form-wrap">
      <label for="from">From:</label>
      <input type="text" id="from" name="from" required="required" placeholder="An address" size="30" />
      <a id="from-link" href="#">Current Location</a>
      <br />
    </div>
    <div class="form-wrap">
      <label for="to">To:</label>
      <input type="text" id="to" name="to" required="required" placeholder="Another address" size="30" />
      <a id="to-link" href="#">Current Location</a>
      <br />
    </div>
  </div>

    <input class="button" type="submit" />
    <input class="button" type="reset" />
    <button ui-sref="cheatNew" class="button new-cheat">Add A Cheat</button>

</form>
  
<div id="map"></div>