#map {
	height: 50%;
}
/* Optional: Makes the sample page fill the window. */

.destination-wrap {
	background-color: yellow;
	display: inline-flex;
	width: 350px;
	height: 65px;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.form-wrap {
	float: right;
	margin-top: 3px;
	margin-bottom: 5px;
}

#pac-input {
	width: 300px;
	height: 25px;
	margin-top: 10px;
}

.button {
	height: 25px;
	width: auto;
	border-style: left;
	background-color: white;
}

.new-cheat {
	float: right;
	margin-right: 3%;
}