#map {
	height: 600px;
}

.cheat-new-page {
	display: flex;
	width: 500px;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	margin: 0;
}

.cheat-textarea {
	margin-top: 10px;
	margin-right: 10px;
	border-color: #EEEEEE;
	border-width: 2px;
}

.title {
	margin-top: 2px;
}

.map-button {
	margin: 10px;
}

.route-type div {
	display: inline;
}

#pac-input {
	width: 300px;
	height: 29px;
	margin-top: 10px;
}

li.dropdown-item a {
    color: white !important;
}