<div id="map"></div>

<div [(hidden)]="!showMap">
	<input id="pac-input" class="form-control"
		type="text" placeholder="Search Box">

	<button id="reset" class="btn btn-light map-button"
		(click)="clearOverlays()">Reset Markers</button>

	<div class="cheat-new-page">
		<form (ngSubmit)="saveCheat()">
			<div id="floating-panel">
				<div class="title">Title:</div>
				<div class="route-type">
					<div>Route Type:</div>
					<ss-multiselect-dropdown [options]="routeTypeData"
						[texts]="routeTypeTexts" [settings]="routeTypeSettings"
						[(ngModel)]="routeTypeModel" name="routeType"></ss-multiselect-dropdown>
				</div>
				<textarea [(ngModel)]="description" class="cheat-textarea" rows="10"
					cols="60" placeholder="Write details about this hacked route."
					name="description"></textarea>
				<br>
				<button type="button" class="btn btn-light" (click)="saveCheat()">Submit</button>
			</div>
		</form>
	</div>

</div>
