<input id="pac-input" class="controls" type="text" placeholder="Search Box">

<div id="map"></div>
<button id="reset" class="btn btn-default btn-sm" ng-click="$ctrl.clearOverlays()">Reset Markers</button>

<div id="cheat-new-page">
	<form>
		<div id="floating-panel">
			<div class="title">Title:</div>
			<div class="route-type">
				<div>Route Type:</div>
				<div ng-dropdown-multiselect="" options="$ctrl.routeTypeData" selected-model="$ctrl.routeTypeModel" extra-settings="$ctrl.routeTypeSettings"></div>
			</div>
			<textarea id="cheat-textarea" rows="10" cols="60" ng-model="$ctrl.cheat.description" placeholder="Write details about this hacked route.">
			</textarea>
			<br>
			<button class="btn btn-default btn-sm" ng-click="$ctrl.saveCheat()">Submit</button>
		</div>
	</form>
</div>

